@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:ital,wght@0,400;0,900;1,700&display=swap');


.banner {
    background-image: url('../images/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 115px;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 40px;
    /* 131.944% */
}

.banner #celebrate {
    padding-bottom: 170px;
}

.new-year {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 120px;
}

.new-year-greeting {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 70px;
}

.new-year-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.new-year-description {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 15px;

}

/* welcome section related style  start*/
.welcome-section {

    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.welcome-container {
    margin-top: 100px;
    margin-left: 120px;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 40px;
    /* 137.5% */
    letter-spacing: 7.04px;

}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-primary {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    border: 0;
    width: 60%;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
}

.welcome-img-section {
    width: 40%;
    margin-bottom: 70px;
}

/* welcome section related style  end*/


.tiem-section {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
   padding-top:120px


}

.time-section-container h3 {
    margin: 50px auto;
}

.tiem-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 20px;
}

.text-primary {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    /* 175% */
    text-transform: capitalize;
}

.tiem-section .btn-secondary {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 15px 30px;
    border: none;
}

/* comingsoon section related style */

.comingsoon-section-container {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    width: 1320px;
    margin: 0 auto;
    margin-top: 110px;
}

.comingsoon-item {
    line-height: 20px;
}

.comingsoon-greeting {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.comingsoon-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.comingsoon-description {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.comming-text {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.comingsoon-text-description {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.comingsoon-text-container {
    line-height: 10px;
    margin-bottom: 75px;
}

.comingsoon-section {
    margin-bottom: 110px;

}

/* sales section related style */
.sales-container {
    text-align: center;
}

.sales-greeting {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   
}

.sales-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 30px;

}

.sales-important {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.sales-description {
    width: 1068px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 160% */

}

.sale-section {
    margin-bottom: 65px;
}

/* gift section related style */
.gift-section{
    width: 800px;
    margin: 0 auto;
    text-align: left;
    margin-bottom:45px ;
    margin-left:350px;
}
.gift-greeting{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.gift-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;

font-weight: 900;
line-height: 20px;
text-transform: capitalize;
}
.gift-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
/* product img section related style */
.product-section-part_A img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px;
    
    

}
.product-section-part_A{
    display: flex;
    gap:24px;
    justify-content: center;
    margin-bottom: 25px;
 
}
.product{
    margin-bottom: 120px;
}

